<div class="text-end border-end border-dark search-btn">
    <div class="search-form">
        <form>
            <div class="form-group">
                <div class="d-flex">
                    <input type="search" class="form-control border-0 rounded-pill py-2" name="search-input"
                        placeholder="Search Movie..." required
                        (keyup.enter)="searchMovie(searchInput.value)" #searchInput />
                    <button type="button" value="Search Now!" class="btn" data-bs-toggle="modal"
                        data-bs-target="#modal" (click)="searchMovie(searchInput.value)">
                        <i class="fa fa-search text-dark"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!-- Modal Result -->
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalResult" aria-hidden="true"
        style="overflow-y: auto;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalResult">Result for {{ search }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table table-hover">
                        <tbody>
                            <tr *ngFor="let item of resultSearch">
                                <td style="cursor: pointer;" (click)="redirectDetails(item.id)">
                                    <h6 class="animated slideInDown">{{ item.title }}</h6>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>