.modal-body {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.search-btn {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: end;
}

.search-form {
  width: 18rem;
}

.search-btn .form-group {
  width: 100%;
}

.search-btn button {
  position: absolute;
  right: 5px;
}

.search-form {
  width: 18rem;
}

.item-list{
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (max-width: 1199px) {
  .search-btn {
    width: 50%;
  }

  .search-form {
    width: 15rem;
  }
}

@media (max-width: 768px) {
  .search-form {
    width: 20rem;
  }

  .search-btn {
    justify-content: center;
  }

  .search-btn button {
    right: 8px;
  }
}
