<div class="container-fluid carousel px-0 mb-4 pb-5">
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item" *ngFor="let movie of movies; let i = index" [ngClass]="{'active' : i === 0}">
                <img [src]="movie.backdrop_path | noImage " class="img-fluid w-100"
                    alt="First slide" style="height: 750px !important;">
                <div class="carousel-caption">
                    <div class="container carousel-content">
                        <h4 class="text-white mb-4 animated slideInDown">Release: {{ movie.release_date }}</h4>
                        <h1 class="text-white display-1 mb-4 animated slideInDown">{{ movie.title }}</h1>
                        <a class="px-5 py-3 btn btn-primary border-2 rounded-pill animated slideInDown"
                            [routerLink]="['details/movie/' + movie.id]">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev btn btn-primary border border-2 border-start-0 border-primary"
            type="button" data-bs-target="#carouselId" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next btn btn-primary border border-2 border-end-0 border-primary" type="button"
            data-bs-target="#carouselId" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>