.back-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: flex;
  width: 58px;
  height: 58px;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.btn {
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.5s;
}

.btn.btn-primary {
  box-shadow: inset 0 0 0 0 var(--bs-dark);
}

.btn.btn-primary:hover {
  box-shadow: inset 200px 0 0 0 var(--bs-dark) !important;
  color: var(--bs-primary) !important;
}

.btn.btn-dark {
  box-shadow: inset 0 0 0 0 var(--bs-primary);
}

.btn.btn-dark:hover {
  box-shadow: inset 200px 0 0 0 var(--bs-primary);
  color: var(--bs-dark) !important;
}

main {
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  main {
    padding-bottom: 70px;
  }
}